{
  "plugins": [
    "@babel/transform-runtime",
    "@babel/proposal-class-properties"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "8.10"
        }
      }
    ]
  ],
  "ignore": "**/*.test.js",
}
