# package directories
jspm_packages
/node_modules

# serverless directories
.serverless

# testing
/coverage

# production
/build

# temporary directories
/tmp/*
!/tmp/README.md

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
env*

# exclude encrypted analytics
!.env*.encrypted
!env*.encrypted

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/dist/

# build
.webpack
.build

# vim settings
.rootdir

# exclude logs
*.log

# exclude webstorm and idea files
.idea
*.iml

# exclude sublime project files
*.sublime-*

# exclude unused coverage information
.nyc_output
coverage.lcov
